<div class="jumbo">
  <div class="right pikachu"></div>
  <h2>About</h2>
  <p>
    Hello, my name is Catherine and I'm trying to learn about Ember so that I
    can be more helpful with my team when we work on the platform.<br />
    よろしくお願いします✨
  </p>
</div>